services:
  api:
    build: .
    container_name: order-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app
    command: npm run dev

  worker:
    build: .
    container_name: order-worker
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    command: npm run worker

  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:7
    container_name: redis-cache
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
